/* *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.allmovies{
    display: flex;
    width: 100%;
    height: 100%;
}
.allmovies .moviesinfo{
    width: 100%;
    height: 100%;

}
.allmovies .moviesinfo .imgcard{
    padding:0px;
}
.allmovies .moviesinfo .imgcard .img{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 30%;

}
.allmovies .moviesinfo .imgcard .img a img{
    width: 100%;
    height: 100%;
    
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allmovies {
  display: flex;
  flex-wrap: wrap; 
  gap: 1%;   
   
}

.moviesinfo {
  flex: 0 0 23%; /* flex: flex-grow flex-shrink flex-basis; */
  position: relative;
}

.imgcard {
  border: 1px solid #ddd;
  border-radius: 5px;
  /* overflow: hidden; */
}

.imgcard .img {
  width: 100%;
}

.imgcard .img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.allmovies .m_info{
  display: none;
  position: absolute;
  



}/*
.allmovies .img:hover + .m_info {
  display: flex;  show when image container is hovered
  flex-direction: column;
}
 */


/* playMovie Styles */

.playMovie{
  width: 100%;
  height: 100vh;

}
.playMovie video{
  width: 100%;
  height: 95%;
}

/* Each lang Movie styles */
.movies{
  width: 100%;
  display: flex;
  gap:1.5%

}
.movies .card{
  width: 25%;

}
.movies .card a{
  width: 100%;
}
.movies .card img {
  width: 100%;
  height: auto;
}


/* genre styles */

.genre{
  width:100%;
  display: flex;
  gap:1.5%
}
.genre .card{
  width: 25%;
}
.genre .card a{
  width: 100%;
}
.genre .card img {
  width: 100%;
  height: auto;
}