.sidebar{
    margin-top: 20%;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    position:fixed;
}
.sidebar ul li{
    list-style-type: none;
    margin:10% 0

}
.sidebar ul li a{
   text-decoration: none; 
   font-size: large;
   font-weight: bold;
   color:whitesmoke

}