*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.homepage{
    display: grid;
    grid-template-columns: 10vw 1fr;
    grid-template-areas: 'sidebar head'
                          'sidebar main'
                          'sidebar footer';

    height: 100vh;
    /* width: 100vw; */
}

.homepage .head{
    grid-area: head;
    height: 45vh;
    width: 100vw;
    

}
.homepage .sidebar{
    text-align: center;
    grid-area: sidebar;
    /* height: 100vh; */
    
}
.homepage .mainpage{
    grid-area: main;
    /* height: 50vh; */
    /* width: 90vw; */
    width: 100%;
    

}
.homepage .footer{
    grid-area: footer;
    height: 5vh ;
    

}